
 #categories {

    display: grid;
    grid-template-columns: auto max-content;
    align-items: center;
    column-gap: 50px;

 }

 article {

    display: grid;
    grid-template-columns: repeat(3, max-content);
    justify-content: left;
    gap: 20px;
    width: max-content;

 }

 #categories h1 {

    display: grid;
    text-align: center;
    font-size: 35px;

 }

 .category button h2 {

    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 290px;
    height: 30px;
    flex-direction: column;
    line-height: 25px;
    color: #000000;
    font-size: 17px;
    font-family: 'Saira', sans-serif;

 }

 .category img {

    width: 125px;
    height: 125px;

 }

 .category button {

    display: flex;
    flex-direction: column;

    border-radius: 30px;
    box-shadow: 0 2.5px 12.5px #000000;

    width: 200px;
    height: 200px;

 }

