
 main {

    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;

 }

 #optionHeader {

    top: 0;

    line-height: 25px;
    text-align: center;
    font-size: 40px;

 }

 #optionHeader.visible { margin-top: 55px; }

 #options {

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

 }

 footer p {

    text-align: center;
    font-size: 17px;
    padding: 0px 0px 10px 0px;

 }

 #endMessage {

    position: absolute;

    text-align: center;
    width: max-content;

    left: 25.85%;

 }

 #endMessage:hover { transform: scale(1.1); }

