
 main {

    flex: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

 }

 main h1 {

    position: absolute;
    top: 40px;
    left: 42%;
    font-size: 40px;
    margin-top: 50px;

 }

 main article {

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 175px;

 }

 div h2 {

    width: 300px;
    height: 100px;
    display: block;
    text-align: center;
    font-size: 40px;
    word-wrap: break-word;
    line-height: 50px;

 }

 footer { margin-top: auto; }

 footer p {

    text-align: center;
    font-size: 17px;
    padding: 0px 0px 10px 0px;

 }

 .option, .category {

    display: flex;
    flex-direction: column;
    align-items: center;
    transition: transform 0.5s;

 }

 .option button, .category button {

    background-color: #FFFFFF;
    border-width: 0px;
    display: flex;
    justify-content: center;
    align-items: center;

 }

 .option button {

    border-radius: 50%;
    width: 240px;
    height: 240px;
    box-shadow: 0 5px 20px #000000;
    margin-bottom: 20px;

 }

 .option:hover, .category:hover, #endMessage:hover { transform: scale(1.1); }

 #endMessage, main p {

    position: absolute;

    text-align: center;
    width: max-content;

    left: 25.85%;
    top: 45%;

 }

 main p {

    left: 28.25%;
    top: 52.5%;

 }

