
 category-component { transition: transform 0.6s; }

 category-component button {

    padding: 20px;
    background-color: #FFFFFF;
    border-width: 0px;
    border-radius: 15px;
    width: 190px;
    height: 190px;
    cursor: pointer;
    font-family: 'Saira', sans-serif;
    color: #000000;
    font-weight: 600;
    font-size: 20px;
    box-shadow: 0 2px 6px #000000;

    line-height: 25px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;

 }

 category-component img {

    width: 75px;
    height: 75px;
    padding: 0;
    background: transparent;

 }

 category-component:hover { transform: scale(1.1); }

