
 option-component {

    display: flex;
    flex-direction: column;
    align-items: center;
    transition: transform 0.6s;

 }

 option-component button {

    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #FFFFFF;
    border-width: 0px;
    border-radius: 30px;
    width: 200px;
    height: 200px;
    box-shadow: 0 5px 20px #000000;
    margin-bottom: 20px;

 }

 option-component img {

    width: 145px;
    height: 145px;
    padding: 0;

 }

 option-component img[src^="static/img/person"] { border-radius: 100%; }

 option-component h2 {

    width: 280px;
    height: 50px;
    display: block;
    text-align: center;
    font-size: 40px;
    word-wrap: break-word;
    line-height: 50px;

 }

 option-component:hover { transform: scale(1.1); }

