
 option-button {

    display: flex;
    flex-direction: column;
    align-items: center;
    transition: transform 0.75s;

 }

 option-button button {

    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #FFFFFF;
    border-width: 0px;
    border-radius: 10%;
    width: 240px;
    height: 240px;
    box-shadow: 0 5px 20px #000000;
    margin-bottom: 20px;

 }

 option-button img {

    widht: 145px;
    height: 145px;
    padding: 0;

 }

 option-button h2 {

    width: 300px;
    height: 100px;
    display: block;
    text-align: center;
    font-size: 40px;
    word-wrap: break-word;
    line-height: 50px;

 }

 option-button:hover { transform: scale(1.1); }

