
 header {

    display: grid;
    height: 55px;
    background-color: #2A2A2A;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.9);

 }

 a {

    display: flex;
    align-items: center;
    text-decoration: none;
    width: 50px;

 }

 a img { margin: 0px 7.5px 0px 5px; }

