
 * {

    margin: 0;
    padding: 0;
    box-sizing: border-box;

    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;

    user-select: none;

 }

 body {

    background: linear-gradient(170deg, #FFBD61 15%, #FF7700 100%);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    font-family: 'Saira', sans-serif;
    overflow: hidden;

 }

 main {

    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;

 }

 h1, h2, p, #endMessage { color: #FFFFFF; }

 p, #endMessage {

    font-size: 40px;
    font-weight: 600;

 }

