
 @media (max-width: 768px) {

    header { height: 40px; }

    header h1 { font-size: 25px; }

    a img {

       height: 25px;
       width: 25px;

    }

    #startSection {

       flex-direction: column;
       gap: 30px;

    }

    #startSection p {

       font-size: 10px;
       width: 225px;

    }

    #startSection div {

       grid-template-columns: repeat(2, max-content);
       gap: 10px;

    }

    category-button button {

       width: 100px;
       height: 100px;
       font-size: 7.5px;
       line-height: 7.5px;
       gap: 5px;

    }

    category-button img {

       width: 35px;
       height: 35px;

    }

    option-button button {

       width: 75px;
       height: 75px;
       border-radius: 20px;

    }

    option-button button img {

       width: 40px;
       height: 40px;

    }

    option-button h2 {

       font-size: 15px;
       line-height: 10px;

    }

    #optionHeader { font-size: 20px; }

    #loading { font-size: 15px; }

    #endMessage {

       left: 10%;
       font-size: 15px;

    }

    footer p { font-size: 7.5px; }

 }

