
 @media (max-width: 768px) {

    header { height: 40px; }

    header h1 { font-size: 25px; }

    a img {

       height: 25px;
       width: 25px;

    }

    #startSection {

       flex-direction: column;
       gap: 30px;

    }

    #startSection p {

       font-size: 15px;
       width: 400px;

    }

    #startSection div { gap: 10px; }

    category-button button {

       width: 80px;
       height: 80px;
       font-size: 5px;
       line-height: 7.5px;
       gap: 5px;

    }

    category-button img {

       width: 25px;
       height: 25px;

    }

    option-button button {

       width: 75px;
       height: 75px;

    }

    option-button button img {

       width: 25px;
       height: 25px;

    }

    option-button h2 { font-size: 10px; }

    #loading { font-size: 15px; }

    #endMessage {

       left: 10%;
       font-size: 15px;

    }

    footer p { font-size: 10px; }

 }

