
 @media (max-width: 768px) {

    header { height: 40px; }

    header h1 { font-size: 25px; }

    a img {

       height: 25px;
       width: 25px;

    }

    #startSection {

       flex-direction: column;
       gap: 30px;

    }

    #startSection p {

       font-size: 17.5px;
       width: 400px;

    }

    #startSection div { gap: 15px; }

    category-button button {

       width: 135px;
       height: 135px;
       font-size: 12.5px;
       line-height: 20px;
       gap: 5px;

    }

    category-button img {

       width: 50px;
       height: 50px;

    }

    option-button button {

       width: 150px;
       height: 150px;

    }

    option-button button img {

       width: 100px;
       height: 100px;

    }

    option-button h2 { font-size: 30px; }

    #loading { font-size: 25px; }

    #endMessage {

       left: 10%;
       font-size: 22.5px;

    }

    footer p { font-size: 12.5px; }

 }

