
 #optionHeader {

    top: 0;

    line-height: 25px;
    text-align: center;
    font-size: 40px;

 }

 #optionHeader.visible { margin-top: 55px; }

 #options {

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

 }

