
 #optionHeader {

    top: 0;

    line-height: 25px;
    text-align: center;
    font-size: 40px;

 }

 #optionHeader.visible { margin-top: 55px; }

 #options {

    margin: 0;
    padding: 0;
    gap: 0;
    width: fit-content;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

 }

