
 #startSection {

    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 80px;

 }

 #startSection p {

    display: block;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 500px;
    font-size: 27.2px;
    flex-direction: column;
    margin: 0;

 }

 #startSection div {

    display: grid;
    grid-template-columns: repeat(3, max-content);
    align-items: start;
    gap: 30px;

 }

